<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>
          <%= @survey_response.display_name %>
        </h3>
      </div>

      <div class="panel-body">
        Completed
        <%= @survey_response.answers_count %>
        of
        <%= Question.count %>
        questions
        <hr>
        <% @creative_qualities.each do |quality| %>
          <strong><%= quality.name %></strong>
          <ul>
            <li>Raw score: <%= @survey_response.raw_score_by_quality(quality) %></li>
            <li>Max score: <%= quality.max_score %></li>
          </ul>
        <% end %>
      </div>
    </div>

    <hr>

    <% @survey_response.answers.each do |answer| %>
      <%= render 'questions/header', question: answer.question %>

      <table class="table table-bordered">
        <% answer.question.question_choices.each do |question_choice| %>
          <tr>
            <td>
              <% if question_choice == answer.question_choice %>
                <%= question_choice.selected %>
              <% else %>
                <%= question_choice.deselected %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
